<div class="fun-facts" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="section-heading">
                    <h6>nossas conquistas</h6>
                    <h2>nossa agência em <em>numeros.</em></h2>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="count-area-content">
                            <div class="number"><img src="{{ '/assets/images/facts-icon-01.png'| relative_url }}" alt=""><div class="count-digit">7</div></div>
                            <div class="count-title">Tempo No<br>Mercado</div>
                            <p>Donec iaculis, massa nec faucibus vestibulum, orci nibh interdum eros, vel efficitur enim odio ac leo.</p>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="count-area-content">
                            <div class="number"><img src="{{ '/assets/images/facts-icon-01.png'| relative_url }}" alt=""><div class="count-digit">528</div></div>
                            <div class="count-title">Projetos Bem<br>Sucedidos</div>
                            <p>Donec iaculis, massa nec faucibus vestibulum, orci nibh interdum eros, vel efficitur enim odio ac leo.</p>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="count-area-content">
                            <div class="number"><img src="{{ '/assets/images/facts-icon-01.png'| relative_url }}" alt=""><div class="count-digit">2553</div></div>
                            <div class="count-title">Jobs<br>Entregues</div>
                            <p>Donec iaculis, massa nec faucibus vestibulum, orci nibh interdum eros, vel efficitur enim odio ac leo.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>