<div class="main-banner" id="top">
    <div class="container">
        <div class="row">
            <div class="col-lg-5">
                <div class="caption">
                    <h4>Lorem ipsum <em>amet</em></h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras honcus auctor consequat pellentesque eget urna et.</p>
                    <div class="main-button">
                        <a href="#contact">Contate-nos</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>