<div class="contact-us" id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-heading">
                    <h6>Contato</h6>
                    <h2>Não exite em nos <em>contactar!</em></h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-7">
                <div class="contact-form">
                    <form id="form-contact" action="#" method="post">
                        <div class="row">
                            <div class="col-lg-6 col-md-12 col-sm-12">
                                <fieldset>
                                    <input name="name" type="text" class="form-control" id="name" placeholder="Nome completo" required="">
                                </fieldset>
                            </div>
                            <div class="col-lg-6 col-md-12 col-sm-12">
                                <fieldset>
                                    <input name="email" type="text" class="form-control" id="email" pattern="[^ @]*@[^ @]*" placeholder="e-mail" required="">
                                </fieldset>
                            </div>
                            <div class="col-lg-12">
                                <fieldset>
                                    <textarea name="message" rows="6" class="form-control" id="message" placeholder="Sua mensagem..." required=""></textarea>
                                </fieldset>
                            </div>
                            <div class="col-lg-12">
                                <fieldset>
                                    <button type="submit" id="submit-form" class="filled-button">Enviar</button>
                                </fieldset>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-lg-5">
                <div class="row">
                    <div class="col-lg-6">
                        <ul class="info">
                            <li>
                                <h6>Rio de Janeiro.</h6>
                                <span>Copacabana</span>
                            </li>
                            <li>
                                <h6>Ligue-nos</h6>
                                <span>(21) 9999-999</span>
                            </li>
                            <li>
                                <h6>Mídias Social</h6>
                                <span><a href="#">Facebook</a>, <a href="#">Instagram</a></span>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-6">
                        <ul class="info">
                            <li>
                                <h6>Atendimentos</h6>
                                <span>09:00 – 20:00</span>
                            </li>
                            <li>
                                <h6>Celular</h6>
                                <span>(21) 9 9999-9999</span>
                            </li>
                            <li>
                                <h6>Email Us</h6>
                                <span><a href="#">nossoemail@email.com</a></span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>