<div class="great-idea">
    <div class="container">
        <div class="row">
            <div class="col-lg-7">
                <div class="guy-image">
                    <img src="{{ '/assets/images/guy-image.jpg'| relative_url }}" alt="">
                </div>
            </div>
            <div class="col-lg-5">
                <div class="text-image">
                    <img src="{{ '/assets/images/text-image.png'| relative_url }}" alt="">
                </div>
            </div>
        </div>
    </div>
</div>