<div class="partners">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-heading">
                    <h6>Parceiros</h6>
                    <h2>nossas <em>parcerias</em></h2>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="partner-item">
                    <img src="{{ '/assets/images/logo-1.svg'| relative_url }}" alt="">
                </div>
            </div>
            <div class="col-lg-2">
                <div class="partner-item">
                    <img src="{{ '/assets/images/logo-2.svg'| relative_url }}" alt="">
                </div>
            </div>
            <div class="col-lg-2">
                <div class="partner-item">
                    <img src="{{ '/assets/images/logo-3.svg'| relative_url }}" alt="">
                </div>
            </div>
            <div class="col-lg-2">
                <div class="partner-item">
                    <img src="{{ '/assets/images/logo-4.svg'| relative_url }}" alt="">
                </div>
            </div>
            <div class="col-lg-2">
                <div class="partner-item">
                    <img src="{{ '/assets/images/logo-5.svg'| relative_url }}" alt="">
                </div>
            </div>
            <div class="col-lg-2">
                <div class="partner-item">
                    <img src="{{ '/assets/images/logo-6.svg'| relative_url }}" alt="">
                </div>
            </div>
            <div class="col-lg-2">
                <div class="partner-item">
                    <img src="{{ '/assets/images/logo-7.svg'| relative_url }}" alt="">
                </div>
            </div>
            <div class="col-lg-2">
                <div class="partner-item">
                    <img src="{{ '/assets/images/logo-8.svg'| relative_url }}" alt="">
                </div>
            </div>
            <div class="col-lg-2">
                <div class="partner-item">
                    <img src="{{ '/assets/images/logo-9.svg'| relative_url }}" alt="">
                </div>
            </div>
            <div class="col-lg-2">
                <div class="partner-item">
                    <img src="{{ '/assets/images/logo-10.svg'| relative_url }}" alt="">
                </div>
            </div>
            <div class="col-lg-2">
                <div class="partner-item">
                    <img src="{{ '/assets/images/logo-11.svg'| relative_url }}" alt="">
                </div>
            </div>
            <div class="col-lg-2">
                <div class="partner-item">
                    <img src="{{ '/assets/images/logo-12.svg'| relative_url }}" alt="">
                </div>
            </div>
        </div>
    </div>
</div>