<div class="recent-work" id="portfolio">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-heading">
                    <h6>portfólio</h6>
                    <h2>nossos <em>trabalhos</em></h2>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="row masonry-layout normal-col-gap">
                    <div class="col-lg-6 masonry-item">
                        <div class="portfolio-item">
                            <div class="portfolio-thumb">
                                <img src="{{ '/assets/images/project-item-01.jpg'| relative_url }}" alt="">
                                <div class="hover-effect">
                                    <div class="hover-content">
                                        <span>Branding</span>
                                        <h4>Moki Brand</h4>
                                        <i class="fa fa-angle-right"></i>
<!--                                        <a href="single-project.html"><i class="fa fa-angle-right"></i></a>-->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 masonry-item">
                        <div class="portfolio-item">
                            <div class="portfolio-thumb">
                                <img src="{{ '/assets/images/project-item-02.jpg'| relative_url }}" alt="">
                                <div class="hover-effect">
                                    <div class="hover-content">
                                        <span>Colors</span>
                                        <h4>The Kitchens</h4>
                                        <i class="fa fa-angle-right"></i>
<!--                                        <a href="single-project.html"><i class="fa fa-angle-right"></i></a>-->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 masonry-item">
                        <div class="portfolio-item">
                            <div class="portfolio-thumb">
                                <img src="{{ '/assets/images/project-item-03.jpg'| relative_url }}" alt="">
                                <div class="hover-effect">
                                    <div class="hover-content">
                                        <span>Colors</span>
                                        <h4>Sigrid Stockl</h4>
                                        <i class="fa fa-angle-right"></i>
<!--                                        <a href="single-project.html"><i class="fa fa-angle-right"></i></a>-->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 masonry-item">
                        <div class="portfolio-item">
                            <div class="portfolio-thumb">
                                <img src="{{ '/assets/images/project-item-04.jpg'| relative_url }}" alt="">
                                <div class="hover-effect">
                                    <div class="hover-content">
                                        <span>Colors</span>
                                        <h4>Lamp &amp; Flower</h4>
                                        <i class="fa fa-angle-right"></i>
<!--                                        <a href="single-project.html"><i class="fa fa-angle-right"></i></a>-->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 masonry-item">
                        <div class="portfolio-item">
                            <div class="portfolio-thumb">
                                <img src="{{ '/assets/images/project-item-05.jpg'| relative_url }}" alt="">
                                <div class="hover-effect">
                                    <div class="hover-content">
                                        <span>Colors</span>
                                        <h4>Leather Good</h4>
                                        <i class="fa fa-angle-right"></i>
<!--                                        <a href="single-project.html"><i class="fa fa-angle-right"></i></a>-->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 masonry-item">
                        <div class="portfolio-item">
                            <div class="portfolio-thumb">
                                <img src="{{ '/assets/images/project-item-06.jpg'| relative_url }}" alt="">
                                <div class="hover-effect">
                                    <div class="hover-content">
                                        <span>Colors</span>
                                        <h4>HeadPhones</h4>
                                        <i class="fa fa-angle-right"></i>
<!--                                        <a href="single-project.html"><i class="fa fa-angle-right"></i></a>-->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>