<div class="features" id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-heading">
                    <h6>um dos melhores</h6>
                    <h2>Nossos <em>Serviços</em></h2>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="feature-item">
                    <div class="feature-icon">
                        <img src="{{ '/assets/images/feature-icon-01.png'| relative_url }}" alt="">
                    </div>
                    <h4>aupdates automáticos</h4>
                    <p>Lorem ipsum dolor amet laoreet, consectetuer adipiscing. Aenean commodo ligula eget dolor.</p>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="feature-item">
                    <div class="feature-icon">
                        <img src="{{ '/assets/images/feature-icon-02.png'| relative_url }}" alt="">
                    </div>
                    <h4>atenção as detalhes</h4>
                    <p>Lorem ipsum dolor amet laoreet, consectetuer adipiscing. Aenean commodo ligula eget dolor.</p>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="feature-item">
                    <div class="feature-icon">
                        <img src="{{ '/assets/images/feature-icon-03.png'| relative_url }}" alt="">
                    </div>
                    <h4>website/app design</h4>
                    <p>Lorem ipsum dolor amet laoreet, consectetuer adipiscing. Aenean commodo ligula eget dolor.</p>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="feature-item">
                    <div class="feature-icon">
                        <img src="{{ '/assets/images/feature-icon-04.png'| relative_url }}" alt="">
                    </div>
                    <h4>marketing digital</h4>
                    <p>Lorem ipsum dolor amet laoreet, consectetuer adipiscing. Aenean commodo ligula eget dolor.</p>
                </div>
            </div>
        </div>
    </div>
</div>