<div class="welcome-owl">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="left-content">
                    <h4>orem ipsum dolor sit amet, consectetur adipiscing elit <em>pioneiro</em></h4>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="owl-welcome owl-carousel">
                    <div class="item">
                        <div class="row">
                            <div class="col-lg-1">
                                <h6>L</h6>
                            </div>
                            <div class="col-lg-11">
                                <p>orem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam facilisis dolor non nulla fringilla mollis. Fusce non libero id sem consequat convallis. Cras consequat ultricies tellus, ut rutrum nulla. Suspendisse dapibus odio id enim molestie, sed facilisis odio rhoncus. Nunc porta sapien eget aliquam porttitor.</p>
                            </div>
                            <div class="col-12">
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="row">
                            <div class="col-lg-1">
                                <h6>P</h6>
                            </div>
                            <div class="col-lg-11">
                                <p>orem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam facilisis dolor non nulla fringilla mollis. Fusce non libero id sem consequat convallis. Cras consequat ultricies tellus, ut rutrum nulla. Suspendisse dapibus odio id enim molestie, sed facilisis odio rhoncus. Nunc porta sapien eget aliquam porttitor.</p>
                            </div>
                            <div class="col-12">
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="row">
                            <div class="col-lg-1">
                                <h6>G</h6>
                            </div>
                            <div class="col-lg-11">
                                <p>orem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam facilisis dolor non nulla fringilla mollis. Fusce non libero id sem consequat convallis. Cras consequat ultricies tellus, ut rutrum nulla. Suspendisse dapibus odio id enim molestie, sed facilisis odio rhoncus. Nunc porta sapien eget aliquam porttitor.</p>
                            </div>
                            <div class="col-12">
                            </div>
                        </div>
                    </div>
                </div>
                <div id="counter-first"></div>
            </div>
        </div>
    </div>
</div>
