<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Lorem ipsum dolor</title>

    <!-- Fonts -->
    <link href="{{ './assets/fonts/fonts.googleapis.com/cssa70b.css?family=Josefin+Sans:100,100i,300,300i,400,400i,600,600i,700,700i&amp;display=swap'| relative_url }}" rel="stylesheet">
    <link rel="stylesheet" href="{{ './assets/fonts/font-awesome/css/font-awesome.min.css'| relative_url }}">
    <link rel="stylesheet" href="{{ './assets/fonts/flat-icon/flaticon.css'| relative_url }}">
    <!-- Fonts -->

    <link rel="stylesheet" href="{{ './assets/styles/bootstrap.css'| relative_url }}" />
    <link rel="stylesheet" href="{{ './assets/styles/main.css'| relative_url }}" />
    <link rel="stylesheet" href="{{ './assets/styles/custom.css'| relative_url }}" />
</head>

<body>

<!-- Preloader -->
{% include preloader.html %}
<!-- Preloader -->

<!-- Header -->
{% include header.html %}
<!-- Header -->


<!-- Banner -->
{% include banner.html %}
<!-- Banner -->


<!-- Welcome -->
{% include welcome.html %}
<!-- Welcome -->


<!-- Features -->
{% include services.html %}
<!-- Features -->



<!-- Portfolio -->
{% include portfolio.html %}
<!-- Portfolio -->



<!-- About Us -->
{% include about-us.html %}
<!-- About Us -->


<!-- Partners -->
{% include partners.html %}
<!-- Partners -->

<!-- Great Idea -->
{% include great-idea.html %}
<!-- Great Idea -->



<!-- Contact Us -->
{% include contact.html %}
<!-- Contact Us -->

<!-- Footer -->
{% include footer.html %}
<!-- Footer -->



<!-- Go To Top -->
<a href="#" class="go-top"><i class="fa fa-angle-up"></i></a>


<!-- Scripts -->
<script src="{{ './assets/scripts/vendors/jquery-3.4.1.min.js'| relative_url }}"></script>
<script src="{{ './assets/scripts/vendors/jquery.hoverIntent.min.js'| relative_url }}"></script>
<script src="{{ './assets/scripts/vendors/perfect-scrollbar.min.js'| relative_url }}"></script>
<script src="{{ './assets/scripts/vendors/jquery.easing.min.js'| relative_url }}"></script>
<script src="{{ './assets/scripts/vendors/wow.min.js'| relative_url }}"></script>
<script src="{{ './assets/scripts/vendors/parallax.min.js'| relative_url }}"></script>
<script src="{{ './assets/scripts/vendors/isotope.min.js'| relative_url }}"></script>
<script src="{{ './assets/scripts/vendors/imagesloaded.pkgd.min.js'| relative_url }}"></script>
<script src="{{ './assets/scripts/vendors/packery-mode.pkgd.min.js'| relative_url }}"></script>
<script src="{{ './assets/scripts/vendors/owl-carousel.min.js'| relative_url }}"></script>
<script src="{{ './assets/scripts/vendors/jquery.appear.js'| relative_url }}"></script>
<script src="{{ './assets/scripts/vendors/jquery.countTo.js'| relative_url }}"></script>
<script src="{{ './assets/scripts/vendors/slide-nav.min.js'| relative_url }}"></script>
<script src="{{ './assets/scripts/main.js'| relative_url }}"></script>


</body>

</html>
